// Body Vars
$padBody: 30px 25px 90px 25px; 
$headFootColor: white;


// Slider Vars
$sliderWidth: 93vw;
$sliderHeight: 750px;

$carouselHeight: 60vw;
$imgWidth: 100%;


// Gallery Vars
$galImgHeight: 60vw;

// Form Vars
$formMargin: 20px;
$selectMargBottom: 10px;
$inputMargBottom: 20px;
$postMediaMargTop: 150px
